.Body {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .Body {
        width: 100%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 640px) {
    .Body {
        flex-direction: column;
        align-items: center;
    }
}