.side-bar__list {
    margin: 0 16px 10px -6px;
    li {
        display: flex;
        align-items: center;
        padding: 0 6px;
        font-size: 15px;
        cursor: pointer;

        .icon {
            margin-right: 10px;
            color: rgb(121, 105, 226);
            font-size: 18px;
        }
    }
}