.body__left {
    width: 230px;
}

@media screen and (max-width: 640px) {
    .body__left {
        width: 90%;
    }
    .body__images {
        display: flex;
        justify-content: center;
    }
}